<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3"></div>
  </div>
  <div class="col-md-6">
    <h4>Tasks List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let task of tasks; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTask(task, i)"
      >
        {{ task.name }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentTask">
      <h4>Task</h4>
      <div>
        <label><strong>Name:</strong></label> {{ currentTask.name }}
      </div>
      <div>
        <label><strong>Recurrency:</strong></label>
        {{ currentTask.recurrency }}
      </div>
      <div>
        <label><strong>Code:</strong></label>
        {{ currentTask.code }}
      </div>

      <a class="badge badge-warning" routerLink="/tasks/{{ currentTask.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentTask">
      <br />
      <p>Please click on a Task...</p>
    </div>
  </div>
</div>
